body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul {
  padding: 0px;
  padding-inline-start: 0px;
}
a {
  text-decoration: none;
  color: white;
}


#logo img {
  width: 70px;
  height: 70px;
  margin: 20px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0073D2;
}

#menu {
  text-align: center;
  /* display: none; */
  visibility: hidden;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  transition: .3s ease;
  height: 0px;
  width: 100%;
  right: 0px;
  margin-top: 0px;
  padding-top: 50px;
  background: #0073D2;
  font-family: inter, helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.1em;
}

#menu a {
  margin: 0 auto;
  width: 500px;
  display: block;
  padding: .5rem;
  height: 0px;
  margin-bottom: 70px;
}

#menu a:hover {
  color: #e7e7e7;
}

#btn-mobile  {
  margin: 20px;
  transform: rotate(-15deg);
  transition: .3s ease;
  cursor: pointer;
}

#nav.active #menu {
  display: flex;
  visibility: visible;
  height: 100vh;
  font-size: 3em;
}

#nav.active #btn-mobile {
  transform: rotate(15deg);
  transition: .3s ease;
}

/* .container-epis {
  width: 100%;
  margin-top: 50px;

} */

.epis {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.lista{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: inter, sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: black;;
}
.lista div {
  margin-right: 10px;
}

footer {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: -1;
}
#solicitar {
  padding: 20px 50px 20px 50px;
  font-family: inter, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 3em;
  color: white;
  background-color: #0073D2;
  border: none;
  cursor: pointer;
}












@media (max-width: 600px) {
  #header {
    background: #fff;
  }
  #menu {
    margin-top: -30px;
    padding-top: 100px;
  }

  #menu a {
    margin: 0 auto;
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  footer {
    width: 100%;
    height: 100vh;
  }
  #solicitar {
    font-size: 2.5em;
    padding: 15px 30px 15px 30px;

  }
}